@charset "utf-8";

@import url();
@font-face {
  font-family: "Android";
  src: url("../fontes/idroid.otf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --cor6: #ffffff;
  --cor7: #000000;

  --fonte-padrao: Arial, Helvetica. sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

a.externo::after {
  content: "\1F517";
}

h2 {
  margin: 15px 0px;
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
}

header h1.cor {
  color: var(--cor6);
  font-family: var(--fonte-destaque);
  padding-top: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
  font-weight: normal;
}

header p {
  font-family: var(--fonte-padrao);
  color: var(--cor6);
  font-size: 1.2em;
  padding-top: 20px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav a {
  color: var(--cor6);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  background-color: var(--cor6);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  color: var(--cor4);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.8em;
}

main h2 {
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
  font-weight: normal;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1em;
  color: var(--cor4);
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

main img {
  width: 100%;
}

main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 30px;
}

 .video {
  width: 100%;
  height: auto;
} 


aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside ul {
  list-style-type: "\2714\00A0\00A0";
  list-style-position: inside;
  columns: 2;
}

aside h3 {
  font-family: var(--fonte-padrao);
  background-color: var(--cor4);
  color: var(--cor6);
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside p {
  color: var(--cor7);
  font-size: 1em;
}

footer {
  background-color: var(--cor5);
  color: var(--cor6);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a {
  color: var(--cor6);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}
